!!! 5
%html{ :class => "no-js"}
  %head{ :prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" }
    %title= "#{current_page.data.title} - Graphic Design & Web Development - Tim Dikun - Houston, TX - timdikun.com"
    %meta{ 'http-equiv' => 'Content-Type' , :content => "text/html;charset=utf-8" }
    %meta{ :property => "fb:app_id" , :content => "691307177565276"}
    %meta{ :property => "fb:admins", :content => "514019324" }
    %meta{ :property => "og:type" , :content => "article"}
    %meta{ :property => "og:url" , :content => "http://timdikun.com#{current_page.url}" }
    %meta{ :property => "og:title" , :content => current_page.data.title }
    %meta{ :property => "og:image" , :content => "http://timdikun.com/assets/blog/#{current_page.data.video}.jpg"}
    %meta{ :name => "keywords" , :content => "#{current_page.data.keywords}" }
    %meta{ :name => "description" , :content => "#{current_page.data.description}" }
    %meta{ :property => "og:description" , :content => "#{current_page.data.description}" }
    %meta{ :name => "google-site-verification" , :content => "SNyKGTMjpSGL0purDc0o60SsZ97PcMP7BKogtK9luc8" }
    %meta{ :content => 'width=device-width, initial-scale=1.0' , :name => 'viewport' }
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag "application"
    = javascript_include_tag "modernizr"
  %body{ :class => page_classes }
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=691307177565276&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .bar
      .words
        %p
          = current_page.data.title_line1
          = current_page.data.title_main
    #splash
      .img{ :style => "background-image: url(/assets/blog/#{current_page.data.video}.jpg);" }
      %video{:preload => "auto" , :width => "#{current_page.data.video_width}" ,  :height => "#{current_page.data.video_height}" , :autoplay => "true" , :loop => "true" , :poster => "/assets/blog/#{current_page.data.video}.jpg" }
        %source{ :src => "/assets/blog/#{current_page.data.video}.webm" , :type => "video/webm" }
        %source{ :src => "/assets/blog/#{current_page.data.video}.ogg" , :type => "video/ogg" }
        %source{ :src => "/assets/blog/#{current_page.data.video}.mp4" , :type => "video/mp4" }
      .title
        %span.line1
          = current_page.data.title_line1
        %h1
          = current_page.data.title_main
    .about
      %p Written by Tim Dikun, a Houston-based graphic designer for <a href="http://www.madewithenvy.com" target="_blank">Envy</a> in Orlando, FL.
      %p
        = link_to 'View Portfolio', '/'
      %ul
        %li
          %a.mail{ :href => "mailto:tdikun@gmail.com" }
            = partial 'assets/svg/mail'
        %li
          %a.twitter{ :href => "http://www.twitter.com/tdikun" , :target => "blank" }
            = partial 'assets/svg/twitter'
        %li
          %a.dribbble{ :href => "https://www.dribbble.com/tdikun" , :target => "blank" }
            = partial 'assets/svg/dribbble'

    =yield

    .bottom-content
      %p I appreciate you for taking the time to read, I've disabled comments because people are generally terrible. I'd love to hear from you though, feel free to <a href="mailto:tdikun@gmail.com">email</a> or <a href="https://twitter.com/intent/tweet?screen_name=tdikun" target="_blank">tweet</a> at me directly.
      #share
        .fb-share-button{ 'data-href' => "http://timdikun.com#{current_page.url}" , 'data-layout' => "button_count" }

        %a.twitter-share-button{ :href => "https://twitter.com/share" , 'data-via' => "tdikun" }Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      %h4 Other Articles
      = partial 'assets/partials/other_articles', :locals => { :page => "article" }

    = javascript_include_tag "jquery-2.1.3.min.js" , "blog"
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      var pageTracker = _gat._getTracker("UA-3813670-1");
      pageTracker._initData();
      pageTracker._trackPageview();
