!!! 5
%html{ :class => "no-js"}
  %head{ :prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" }
    %title= "Tim Dikun - Graphic Design & Web Development - Tim Dikun - Houston, TX - timdikun.com"
    %meta{ 'http-equiv' => 'Content-Type' , :content => "text/html;charset=utf-8" }
    %meta{ :property => "fb:app_id" , :content => "691307177565276"}
    %meta{ :property => "og:type" , :content => "article"}
    %meta{ :property => "og:url" , :content => "http://www.timdikun.com/" }
    %meta{ :property => "og:title" , :content => "Tim Dikun" }
    %meta{ :property => "og:image" , :content => "http://www.timdikun.com/assets/blog/profile.jpg"}
    %meta{ :name => "keywords" , :content => "Blog, Journal, Design, Life, Religion, Spirituality, Houston, Texas, Designer, Graphic Design" }
    %meta{ :name => "description" , :content => "The Product Design & Strategy portfolio for Houston based designer Tim Dikun." }
    %meta{ :property => "og:description" , :content => "The Product Design & Strategy portfolio for Houston based designer Tim Dikun." }
    %meta{ :name => "google-site-verification" , :content => "SNyKGTMjpSGL0purDc0o60SsZ97PcMP7BKogtK9luc8" }
    %meta{ :content => 'width=device-width, initial-scale=1.0' , :name => 'viewport' }
    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag "application"
    = javascript_include_tag "modernizr"
    <script src="//use.typekit.net/mhv8rlf.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=691307177565276";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    = partial 'assets/partials/nav'
    = partial 'assets/partials/title'


    .row.row--b
      %a{:name => 'work'}
      .well.well--xxl
        .cell.cell--w
          .work

            =yield

    = partial 'assets/partials/writing'
    = partial 'assets/partials/speaking'
    = partial 'assets/partials/footer'

    = javascript_include_tag "jquery-2.1.3.min.js", "application"
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      var pageTracker = _gat._getTracker("UA-3813670-1");
      pageTracker._initData();
      pageTracker._trackPageview();
